@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    
}

<div class="col-lg-12 row comment-container">
    <h3>Comments</h3>
    @{
        var comments = CurrentPage.CommentItems;

        if (comments.Count() > 0)
        {
            foreach (var comment in comments)
            {
                <div class="comment-item">
                    <div class="comment-header">
                        <span class="glyphicon glyphicon-user"></span> @comment.name
                        @{
                            if (!string.IsNullOrWhiteSpace(comment.Website))
                            {
                                <span class="comment-website"> - @comment.Website</span>

                            }
                        }
                    </div>
                    <div class="comment-content">
                        @comment.Message
                    </div>
                    <div class="comment-meta">
                        <span class="glyphicon glyphicon-comment"></span> Comented at @comment.CreateDate.ToString("dd MMM yyyy HH:mm:ss tt")
                    </div>
                </div>
            }
        }
        else
        {
            <span>No comments.</span>
        }
    }
    
    @{Html.RenderAction("RenderCommentForm", "Comment");}
</div>