﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>


@{ 	
    var root = Model.AncestorOrSelf(1);

    var descendants = root.Descendants();

    var featuredPages = descendants.Where("featuredPage == true");

    if (!umbraco.library.IsLoggedOn())
    {
        featuredPages = featuredPages.Where("notAllowPublic == false");
    }
}

@if (featuredPages.Any())
{
    <div class="col-lg-8 feature-container no-side-padding">
        <div class="col-lg-12">
            <h2>Featured Page</h2>
        </div>
        @foreach (var page in featuredPages.Where(x => x.HasValue("featuredPage")))
        {
            <div class="col-lg-4 feature-item">
                <div class="feature-item-content">
                    <div class="feature-title">
                        <a href="@page.Url" title="@page.GetPropertyValue("title")">
                            @Umbraco.Truncate(page.GetPropertyValue("title").ToString(), 15)
                        </a>
                    </div>
                    <div class="feature-summary">
                        @Umbraco.Truncate(Umbraco.StripHtml(page.GetPropertyValue("content").ToString()), 100)
                    </div>
                    <div class="feature-footer">
                        <a href="@page.Url" class="btn btn-primary">@Umbraco.Field("#Continue Reading")</a>
                    </div>
                </div>
            </div>
        }
    </div>
}