﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
    var linkOverviews = homePage.linkOverviews.First();
    var linkItems = linkOverviews.LinkItems.OrderBy("createDate desc").Take(5);
}

@if (linkItems.Any())
{
    <div class="col-lg-4 link-container no-side-padding">
        <div class="col-lg-12">
            <h2>Quick Links</h2>
        </div>
        @foreach (var link in linkItems)
        {
            var redirectUrl = link.linkUrl;

            if (!redirectUrl.Contains("http://"))
            {
                redirectUrl = "http://" + redirectUrl;
            }
            
            <a href="@redirectUrl" target="_blank">
                <div class="col-lg-12 link-item">
                    <div class="link-item-content">
                        <div class="link-image">
                            @{
            if (link.displayImage)
            {
                <img src="@link.linkImage" class="img-rounded" />
            }
                            }
                        </div>
                        <div class="link-name">
                            @link.linkName
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        }
    </div>
}
else
{
    <p>No Links</p>
}