﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>

@try
{
    var root = Model.AncestorOrSelf(1);
    
    var descendants = root.Descendants();

    var filtered = descendants.Where("naviHide == false");

    if (!umbraco.library.IsLoggedOn())
    {
        filtered = filtered.Where("notAllowPublic == false");
    }
    
    foreach (var node in filtered.Where(x => x.HasValue("naviHide")))
    {
        @* If the Id of the item is the same as the Id of the current page then we want to add the class "current_page_item" *@
        @* Otherwise, we set the class to null, that way it will not even be added to the <li> element *@
        if (!umbraco.library.IsLoggedOn() || (umbraco.library.IsLoggedOn() && !node.Url.Contains("/login/") && !node.Url.Contains("/register/")))
        {
            <li class="@(Model.Id == node.Id ? "active" : null)">
                <a href="@node.Url">
                    @node.GetPropertyValue("title")
                </a>
            </li>
        }
    }
}
catch (Exception e)
{
    @e.ToString()
}