﻿@using System.Runtime.InteropServices.ComTypes
@using umbraco.dialogs
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";

    var homePage = CurrentPage.AncestorsOrSelf(1).First();
}

<div class="col-lg-8">
    <h2>@CurrentPage.Title</h2>
    

    <div class="col-lg-12 row meta-content">
        <span class="glyphicon glyphicon-calendar"></span> Created on @CurrentPage.CreateDate.ToString("dd MMM yyyy HH:mm:ss tt")
    </div>

    @if (CurrentPage.FeatureImage.ToString() != "")
    {
        var img = Umbraco.Media(CurrentPage.FeatureImage);
        <a href="@img.Url">
            <img src="@img.Url" class="img-responsive col-lg-5 col-sm-5 row" style="margin-right: 0; margin-bottom: 10px;"/>
        </a>
    }

    @CurrentPage.Content
    
    
    <div class="col-lg-12 row meta-content author">
        @if (!string.IsNullOrWhiteSpace(CurrentPage.Source))
        {
            <span>@Umbraco.Field("#Source"): @CurrentPage.Source</span><br/>
        }
        Created by <strong>@CurrentPage.CreatorName</strong>
    </div>
    
    @{ 
        Html.RenderPartial("commentWidget");   
    }
</div>
<div class="col-lg-4 hidden-sm">
    <h2>Widget</h2>
</div>