﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{
    Layout = "Layout.cshtml";

    var location = ((GMapsLocation)CurrentPage.Location);

}
<div class="contact-container">
    <div class="col-lg-12">
        <h2>
            @CurrentPage.Title
        </h2>
    </div>
    <div class="col-lg-12 contact-item">
        <div class="contact-item-content">
            <div class="contact-map">
                <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                <div style="overflow:hidden;height:400px;width:100%;">
                    <div id="gmap_canvas" style="height:400px;width:100%;"></div>
                    <style>
                        #gmap_canvas img {
                            max-width: 100% !important;
                            background: none !important;
                        }
                    </style>
                    <a class="google-map-code" href="http://www.mapsembed.com/baur/" id="get-map-data">www.mapsembed.com</a>
                </div>
            </div>
            <script type="text/javascript">
                function init_map() { var myOptions = { zoom: 16, center: new google.maps.LatLng(@location.Lat.ToString(), @location.Lng.ToString()), mapTypeId: google.maps.MapTypeId.ROADMAP }; map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(@location.Lat.ToString(), @location.Lng.ToString()) }); infowindow = new google.maps.InfoWindow({ content: "<b>@CurrentPage.companyName</b><br/>@CurrentPage.street<br/> @CurrentPage.city" }); google.maps.event.addListener(marker, "click", function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);
            </script>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="contact-company">
            @CurrentPage.companyName
        </div>
        <div class="contact-address">
            @CurrentPage.street <br />
            @CurrentPage.city (@CurrentPage.postCode) <br />
            @CurrentPage.country
        </div>
        <div class="contact-phone">
            <span class="glyphicon glyphicon-phone-alt"></span> Phone:@CurrentPage.phone     
                        
        </div>
    </div>    
    <div class="col-lg-8">
        @Html.Action("RenderContactForm", "Contact")
    </div>
</div>
    
