﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
    
    var pageSize = 5;
    int currentPage = 1;
    int.TryParse(Request.QueryString["page"], out currentPage);

    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    var contents = CurrentPage.Children.OrderBy("createDate desc");

    if (!umbraco.library.IsLoggedOn())
    {
        contents = contents.Where("notAllowPublic == false");
    }

    var totalPages = (int)Math.Ceiling((double)contents.Count() / (double)pageSize);

    if (currentPage > totalPages)
    {
        currentPage = totalPages;
    }
    else if (currentPage < 1)
    {
        currentPage = 1;
    }
}

<div class="col-lg-8">
    <h2>@CurrentPage.Title</h2>
    @foreach (var item in contents.Skip((currentPage - 1) * pageSize).Take(pageSize))
    {
        <div class="content-item">
            <div class="content-header">
                <h3><a href="@item.Url">@item.Title</a></h3>
                <span class="glyphicon glyphicon-calendar"></span> Created on @item.CreateDate.ToString("dd MMM yyyy HH:mm:ss tt")
            </div>
            <div class="content-preview">
                @if (item.FeatureImage > 0)
                {
                    <div class=" col-lg-4 col-sm-4 col-xs-6 no-left-padding content-feature-image">
                        <img src="@Umbraco.Media(item.FeatureImage).Url" class="img-responsive img-rounded"/>
                    </div>
                }
                @Umbraco.Truncate(Umbraco.StripHtml(item.Content), 500)
                <div class="clearfix"></div>
            </div>
            <div class="content-footer">
                <a href="@item.Url" class="btn btn-primary">@Umbraco.Field("#Continue Reading")</a>
            </div>
        </div>
    }
       
    @if (totalPages > 1)
    {
        <div class="clearfix"></div>
        <div class="text-center col-lg-12">
            <ul class="pagination">
                @if (currentPage > 1)
                {
                    <li><a href="?page=@(currentPage-1)">Prev</a></li>
                }
                @for (int p = 1; p < totalPages + 1; p++)
                {
                    var active = (p == currentPage) ? "active" : string.Empty;
                    <li class="@active">
                        <a href="?page=@p">@p</a>
                    </li>
                }
                @if (currentPage < totalPages)
                {
                    <li><a href="?page=@(currentPage+1)">Next</a></li>
                }
            </ul>
        </div>
    }
</div>
<div class="col-lg-4">
    <h2>Widget</h2>
</div>