﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
    var categoryPages = CurrentPage.Children().OrderBy("sortOrder");
}
@if (categoryPages.Any())
{
    <div class="download-container">
        <div class="col-lg-12">
            <h2>
                @CurrentPage.Title
            </h2>
        </div>
        @foreach (var page in categoryPages)
        {
            <div class="col-lg-4 category-item">
                <a href="@page.Url">
                    <div class="category-item-content">
                        <div class="category-title"> 
                            @page.Title
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}