﻿@using umbraco.dialogs
@using umbraco.NodeFactory
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";

    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    var contentRoot = new Node(-1);
    
    var iconSet = contentRoot.ChildrenAsList.Where(x => x.Name.ToLower() == "default icon set").First();
    
    var temp = CurrentPage.File.Split('.');
    var ext = temp[temp.Length - 1];
    var icon = iconSet.ChildrenAsList.Where(x => x.GetProperty("extension").ToString().ToLower() == ext);
}

@section scripts{
    <script type="text/javascript" src="~/scripts/jquery.media.js"></script>
    <script type="text/javascript">
        $('a.media').media({ width: 690, height: 490 });
    </script>
}

<div class="file-container">
    <div class="col-lg-12">
        <h2>
            @Umbraco.Field("#Download")
        </h2>
    </div>
    <div class="col-lg-8 file-item">
        <div class="file-item-content">
            <div class="file-description">
                <legend>Description</legend>
                @CurrentPage.Description
                @if (ext.ToLower() == "pdf")
                {
                <a class="media" href="@CurrentPage.File"></a>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-4 file-item">
        <div class="file-item-content">
            <div class="file-image">
                @{
                    if (icon.Count() > 0)
                    {
                        <img src="@icon.First().GetProperty("icon")" />
                    }
                    else
                    {
                        icon = iconSet.ChildrenAsList.Where(x => x.GetProperty("extension").ToString().ToLower() == "noicon");
                        <img src="@icon.First().GetProperty("icon")" />
                    }
                }
            </div>
            <div class="file-title">
                @CurrentPage.Name
            </div>
            <div class="file-createdate">
                <span class="glyphicon glyphicon-calendar"></span> @Umbraco.Field("#Uploaded at")                
                @CurrentPage.createDate.ToString("dd MMM yyyy HH:mm:ss tt")
            </div>
            <div class="file-link">
                <a href="@CurrentPage.File" class="btn btn-info btn-block"><span class="glyphicon glyphicon-download"></span> @Umbraco.Field("#Download")</a>
            </div>
        </div>
    </div>
</div>