﻿@using umbraco.NodeFactory
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";

    var pageSize = 12;
    int currentPage = 1;
    int.TryParse(Request.QueryString["page"], out currentPage);
    
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
    var fileItems = CurrentPage.Children();

    if (!umbraco.library.IsLoggedOn())
    {
        fileItems = fileItems.Where("accessable == \"Public\"");
    }

    fileItems = fileItems.OrderBy("CreateDate");

    var totalPages = (int)Math.Ceiling((double) fileItems.Count()/(double) pageSize);

    if (currentPage > totalPages)
    {
        currentPage = totalPages;
    }
    else if(currentPage < 1)
    {
        currentPage = 1;
    }
    
    var contentRoot = new Node(-1);
    var iconSet = contentRoot.ChildrenAsList.Where(x => x.Name.ToLower() == "default icon set").First();
}

<div class="download-container">
    <div class="col-lg-12">
        <h2>
            @CurrentPage.Title
        </h2>
    </div>
@if (fileItems.Any())
{
    foreach (var page in fileItems.Skip((currentPage - 1) * pageSize).Take(pageSize))
    {
        <div class="col-lg-3 col-sm-4 col-xs-12 download-item">
            <a href="@page.Url">
                <div class="download-item-content">
                    <div class="download-image">
                        @{
                            var temp = page.File.Split('.');
                            var ext = temp[temp.Length - 1];
                            var icon = iconSet.ChildrenAsList.Where(x => x.GetProperty("extension").ToString().ToLower() == ext);

                            if (icon.Count() > 0)
                            {
                                <img src="@icon.First().GetProperty("icon")" />
                            }
                            else
                            {
                                icon = iconSet.ChildrenAsList.Where(x => x.GetProperty("extension").ToString().ToLower() == "noicon");
                                <img src="@icon.First().GetProperty("icon")" />
                            }
                            
                        }
                    </div>
                    <div class="download-title">
                        @Umbraco.Truncate(page.Name, 20)
                    </div>
                    <div class="download-description">
                        @Umbraco.Truncate(page.Description, 90)
                    </div>
                </div>
            </a>
        </div>
    }
       
    if (totalPages > 1)
    {
        <div class="clearfix"></div>
        <div class="text-center col-lg-12">
            <ul class="pagination">
                @if (currentPage > 1)
                {
                    <li><a href="?page=@(currentPage-1)">Prev</a></li>
                }
                @for (int p = 1; p < totalPages + 1; p++)
                {
                    var active = (p == currentPage) ? "active" : string.Empty;
                    <li class="@active">
                        <a href="?page=@p">@p</a>
                    </li>
                }
                @if (currentPage < totalPages)
                {
                    <li><a href="?page=@(currentPage+1)">Next</a></li>
                }
            </ul>
        </div>
    }
}
else
{
    <div class="col-lg-12">No available file(s).</div>
}
</div>