﻿@using System.Web.Razor.Parser
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}

@section stylesheets{
    <link rel="stylesheet" type="text/css" href="/rs-plugin/css/settings.css" media="screen" />
}

@section scripts
{
    <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
}

<div class="col-lg-12">
    <div class="col-lg-12 row slider">
        @Html.Partial("uSkySlider")
    </div>
</div>

<div class="clearfix"></div>

<div class=" col-lg-12">
    <div class="jumbotron">
        <h1>@CurrentPage.SiteName</h1>
        <p>@CurrentPage.ByLine</p>
    </div>
</div>
@{
    Html.RenderPartial("featurePage", Model.Content);
    Html.RenderPartial("linkItem");
}