﻿@inherits UmbracoTemplatePage

@{
    Layout = null;

    Html.RenderPartial("publicChecker");

    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    var menuItems = homePage.Children.Where("naviHide == false");

    if (!umbraco.library.IsLoggedOn())
    {
        menuItems = menuItems.Where("notAllowPublic == false");
    }
}


<!DOCTYPE html>
<html>
<head>
    <title>@Umbraco.Field("title", altFieldAlias: "pageName") | @Umbraco.Field("siteName", recursive: true)</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/comment.css" />
    @RenderSection("stylesheets", required: false)
</head>
<body>
    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">@Umbraco.Field("siteName", recursive: true)</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="@(CurrentPage.Url == "/" ? "active" : null)">
                        <a href="/">
                            @{
                                @homePage.Title
                            }
                        </a>
                    </li>
                    @{Html.RenderPartial("topNavigation", Model.Content);}
                </ul>
                @if (!umbraco.library.IsLoggedOn())
                {
                    @Umbraco.RenderMacro("Nav Login Form")
                }
                @Umbraco.RenderMacro("Login Status")
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /Navigation -->
    <div class="clearfix"></div>
    <div class="container">
        <div class="col-lg-12">
            <form action="/search" method="GET" class="search-form">
                <input type="text" name="q" placeholder="Search..." value="@Request.QueryString["q"]" />
                <button type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Page Body -->
    <div class="container body-content">
        @RenderBody()
    </div>
    <!-- /Page Body -->

    <footer>
        <div class="container">
            Copyright @(DateTime.Now.Year) - @Umbraco.Field("copyright", recursive: true)
        </div>
    </footer>

    <!-- Script section -->
    <script type="text/javascript" src="/scripts/bootstrap/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    <!-- /Script Section -->
</body>
</html>
