﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";

    Html.RenderPartial("publicChecker");
    
    var user = Members.GetCurrentMemberProfileModel();
}

<h2 class="col-lg-12">My Profile</h2>
<div class="col-lg-4 col-md-4 col-sm-4">
    <img src="@user.MemberProperties.FirstOrDefault(x => x.Alias == "avatar").Value"  class="img-responsive img-rounded"/>
</div>
<div class="col-lg-8 col-md-8 col-sm-8">
    <div class="profile-row-group col-lg-12 row">
        <div class="col-md-2 col-sm-4 col-xs-5 row">
            <strong>Username</strong>
        </div>
        <div class="col-md-10 col-sm-8 col-xs-7 row">
            @user.UserName
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="profile-row-group col-lg-12 row">
        <div class="col-md-2 col-sm-4 col-xs-5 row">
            <strong>Email</strong>
        </div>
        <div class="col-md-10 col-sm-8 col-xs-7 row">
            @user.Email
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="profile-row-group col-lg-12 row">
        <div class="col-md-2 col-sm-4 col-xs-5 row">
            <strong>Name</strong>
        </div>
        <div class="col-md-10 col-sm-8 col-xs-7 row">
            @user.Name
        </div>
        <div class="clearfix"></div>
    </div>
    @foreach (var item in user.MemberProperties)
    {
        if (item.Alias != "avatar")
        {
            <div class="profile-row-group col-lg-12 row">
                <div class="col-md-2 col-sm-4 col-xs-5 row">
                    <strong>@item.Name</strong>
                </div>
                <div class="col-md-10 col-sm-8 col-xs-7 row">
                    @if (item.Alias == "birthDate")
                    {
                        DateTime birthdate = DateTime.Parse(item.Value);
                        @birthdate.ToString("dd MMM yyyy")
                    }
                    else
                    {
                        @item.Value
                    }
                </div>
                <div class="clearfix"></div>
            </div>   
        }
    }
    <div class="clearfix"></div>
    <a href="/member/edit-profile">Edit Profile</a>
</div>