﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}

<div class="col-lg-12">
    <h1>
        <strong>
            @CurrentPage.Title
        </strong>
    </h1>

    @CurrentPage.nfMessage
</div>
