﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}

<div class="col-lg-8">
    <h2>Search</h2>

    @Umbraco.RenderMacro("ezSearch", new{searchFields = "title,name,content,description,nodeName,metaDescription", 
        searchFormLocation = "none", indexType = "content", previewLength = 250, previewFields = "content, description",
        hideFromSearchField = "notSearchable"})
</div>