﻿/*----------------------- COMMENT SECTION --------------------*/

.comment-container {
}

.comment-item {
    margin: 5px;
    padding: 20px;
    background-color: #f5f5ff;
}

.comment-item:nth-child(odd) {
    background-color: #ffffff;
}

.comment-header {
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    color: #666;
}

.comment-header .comment-website {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.comment-content {
    padding: 5px;
}

.comment-meta {
    font-size: 10px;
    color: #999;
    padding: 2px;
}

/*---------------------- /COMMENT SECTION --------------------*/