﻿.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.body-content {
    min-height: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.meta-content {
    margin-bottom: 10px;
    font-size: 10px;
    color: #888;
}

.meta-content strong {
    color: #000;
}

.meta-content.author span {
    color: #000080;
    font-weight: 300;
}

.meta-content.author {
    font-size: 12px;
    color: #666;
    font-weight: 600;
}

.nav-error-login {
    margin-top: 10px;
}

.nav-error-login ul {
    margin-bottom: 0;
}

.slider {
    margin-bottom: 20px;
    width: 100%;
}

.content-header {
    font-size: 12px;
    color: #888;
    margin-bottom: 5px;
}

    .content-header h3 {
        margin-bottom: 2px;
        margin-top: 5px;
    }

.content-header a {
    font-family: sans-serif;
    color: #333;
    text-decoration: none;
    padding-bottom: 2px;
}

    .content-header a:hover {
        color: #444;
    }

.content-preview {
    padding-bottom: 7px;
    text-align: justify;
}

.content-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*--------------------- SEARCH SECTION ---------------------*/

.search-form {
    float: right;
    width: 25%;
    min-width: 250px;
}

@media (max-width: 480px) {
     .search-form {
        float: right;
        width: 100%;
         min-width: 100%;
    }   
}

.search-form input[type="text"] {
    width: 100%;
    padding: 5px;
    padding-right: 35px;
    float: left;
    border: 1px solid #bbb;
}

    .search-form input[type="text"]:focus {
        box-shadow: 0 0 15px rgba(200,200,200,0.7);
    }

.search-form button[type="submit"] {
    width: 30px;
    border: 0;
    background-color: transparent;
    padding: 7px;
    margin-left: -30px;
    float: left;
    color: #bbb;
}

.ezsearch-result {
    padding: 5px 15px;
}

.ezsearch-result:nth-child(odd) {
    background-color: #ffffe0;
}

.ezsearch-result h2 a {
    color: #666;
}

/*-------------------- /SEARCH SECTION ---------------------*/

/*--------------------- FOOTER SECTION ---------------------*/

footer {
    margin-top: 20px;
    background-color: #222;
    bottom: 0;
    min-height: 50px;
    color: #888;
    padding: 15px;
}

/*--------------------- /FOOTER SECTION ---------------------*/

/*--------------------- FEATURE SECTION ---------------------*/

.feature-item:nth-child(even) .feature-item-content {
    background-color: #f3f3f3;
}

.feature-item-content {
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin: 10px 0;
}

.feature-title {
    font-size: 18px;
    font-weight: bold;
}

.feature-title a {
    text-decoration: none;
    color: #333;
}

.feature-title a:hover {
    color: #666;
}

.feature-summary {
    text-align: justify;
    font-size: 12px;
    padding-top: 10px;
}

.feature-footer {
    padding-top: 10px;
}

/*--------------------- /FEATURE SECTION --------------------*/

/*--------------------- DOWNLOAD SECTION ---------------------*/

.category-item .category-item-content {
    background-color: #f3f3f3;
}

.category-item-content {
    padding: 50px 15px 50px 15px;
    margin: 10px 0;
    cursor: pointer;
}

.category-item-content:hover {
    background-color: #ddd;
}

.category-title {
    font-size: 28px;
    text-align: center;
    font-weight: 400;
}

.category-item a {
    text-decoration: none;
    color: #333;
}

.category-item:hover a{
    color: #111;
}

.category-summary {
    text-align: justify;
}

.category-footer {
    text-align: right;
}

.download-item .download-item-content {
    background-color: #f3f3f3;
}

.download-item-content {
    padding: 20px 15px 20px 15px;
    margin: 10px 0;
    cursor: pointer;
    height: 240px;
}

.download-item-content:hover {
    background-color: #ddd;
}

.download-image {
    height: 90px;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
}

.download-image img {
    width: 90px;
}

.download-title {
    font-size: 18px;
    font-weight: bold;
}

.download-item a {
    text-decoration: none;
    color: #333;
}

.download-item:hover a{
    color: #111;
}

.download-description {
    font-size: 12px;
    color: #888;
}

.file-item .file-item-content {
    background-color: #f3f3f3;
}

.file-item-content {
    padding: 20px 15px 20px 15px;
    margin: 10px 0;
    min-height: 500px;
}

.file-item-content:hover {
    background-color: #ddd;
}

.file-description {
    padding: 20px 10px 20px 10px;
    font-size: 14px;
    color: #888;
    text-align: justify;
}

.file-image {
    height: 90px;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
}

.file-image img {
    width: 100px;
}

.file-title {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.file-createdate {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 12px
}

.file-link {
    padding: 20px 10px;
    text-align: center;
}

/*--------------------- /DOWNLOAD SECTION --------------------*/

/*----------------------- PROFILE SECTION --------------------*/

.profile-row-group {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*---------------------- /PROFILE SECTION --------------------*/

/*--------------------- LINK SECTION ---------------------*/

.link-item .link-item-content {
    background-color: #f3f3f3;
}

.link-item-content {
    padding: 3px 15px 3px 15px;
    margin: 10px 0 -5px 0;
}

.link-item-content:hover {
    background-color: #ddd;
}

.link-image {
    float: left;
    width: 48px;
    line-height: 48px;
    height: 48px;
    padding: 0;
    text-align: center;
}

.link-image img {
    width: 48px;
}

.link-name {
    height: 48px;
    line-height: 48px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    float: left;
    color: #333;
}

/*--------------------- /FEATURE SECTION --------------------*/

/*--------------------- CONTACT SECTION ---------------------*/

.contact-item .contact-item-content {
    padding: 0;
}

.contact-item-content {
    padding: 50px 15px 50px 15px;
    margin: 10px 0;
    cursor: pointer;
}

.contact-company {
    padding: 3px 0;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
}

.contact-address {
    padding: 3px 0;
    font-size: 14px;
    color: #888888;
    text-align: left;
}

.contact-phone {
    padding: 3px 0;
    font-size: 14px;
    color: #333333;
    text-align: left;
}
}
/*--------------------- /CONTACT SECTION --------------------*/