@inherits Umbraco.Web.Macros.PartialViewMacroPage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.CustomMembership.Controllers
@using Umbraco.Web

@{
    var profileModel = Members.GetCurrentMemberProfileModel();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");

    //Redirect ke halaman my profile(Ganti id berdasarkan id page untuk halaman profile)
    profileModel.RedirectUrl = umbraco.library.NiceUrl(1195);

    var success = TempData["ProfileUpdateSuccess"] != null;
}

@*NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed*@
@Html.RenderJsHere()

@if (Members.IsLoggedIn() && profileModel != null)
{
    if (success)
    {
@* This message will show if RedirectOnSucces is set to false (default) *@
    <p>Profile updated</p>
    }

    using (Html.BeginUmbracoForm<CustomMemberController>("HandleUpdateProfile"))
    {
    <div class="col-lg-6">
        <fieldset>
            <legend>Personal Details</legend>
            @if (profileModel.MemberProperties != null)
            {
                @Html.LabelFor(m => profileModel.Name)
                @Html.TextBoxFor(m => profileModel.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => profileModel.Name)
                <br />
                
                for (var i = 0; i < profileModel.MemberProperties.Count; i++)
                {
                    if (profileModel.MemberProperties[i].Alias != "avatar")
                    {
                @Html.LabelFor(m => profileModel.MemberProperties[i].Value, profileModel.MemberProperties[i].Name, new { @class = "control-label" })
                        if (profileModel.MemberProperties[i].Alias == "address")
                        {
                @Html.TextAreaFor(m => profileModel.MemberProperties[i].Value, new { @class = "form-control", @rows = "5" })
                        }
                        else
                        {
                @Html.TextBoxFor(m => profileModel.MemberProperties[i].Value, new { @class = "form-control" })
                        }
                @Html.HiddenFor(m => profileModel.MemberProperties[i].Alias)
                <br />   
                    }
                }
            }
        </fieldset>
    </div>
    <div class="col-lg-6">
        <div>
            <legend>Avatar</legend>

            @Html.ValidationSummary("registerModel", true)

            @{
                var avatarForm = profileModel.MemberProperties.FirstOrDefault(x => x.Alias == "avatar");
            }
            <div class="col-lg-6 row">
                <img src="@avatarForm.Value" class="img-responsive img-rounded"/><br />
                <input type="file" name="file" />
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <fieldset>
            <legend>User Details</legend>

            @Html.LabelFor(m => profileModel.Email)
            @Html.TextBoxFor(m => profileModel.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => profileModel.Email)
            <br />

            @Html.HiddenFor(m => profileModel.RedirectUrl)

            <button class="btn btn-primary">Save</button>

        </fieldset>
    </div>
    }
}