﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginStatusModel = Members.GetCurrentLoginStatus();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");

    var logoutModel = new PostRedirectModel();
    
@*
        Here you can specify a redirect URL for after logging out, by default umbraco will simply
        redirect to the current page. Example to redirect to the home page:
    *@
    
    logoutModel.RedirectUrl = "/"; 
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()

<style>
    .login-status {
        color: #cfcfcf;
        padding-top: 8px;
    }

    .navbar-right {
        margin-bottom: 0;
    }
</style>

@if (loginStatusModel.IsLoggedIn)
{
    <div class="navbar navbar-right">
        <div class="login-status">
            @using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
            {
                <span>@Umbraco.Field("#Welcome", altText: "Welcome", recursive: true) <strong> <a href="/member/profile">@loginStatusModel.Name.ToFirstUpper()</a></strong></span>
                <button class="btn btn-success">@Umbraco.Field("#Logout", altText: "Logout", recursive: true)</button>
    
                @Html.HiddenFor(m => logoutModel.RedirectUrl)
            }
        </div>
    </div>
}