﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginModel = new LoginModel();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()

<style>
    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="text"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    .validation ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
    }
</style>

<div class="container">
    @{
        if (Html.ValidationSummary("loginModel", true) != null)
        {
            <div class="alert alert-danger alert-dismissible validation" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                @Html.ValidationSummary("loginModel", false)
                @Html.ValidationMessageFor(m => loginModel.Username)
                @Html.ValidationMessageFor(m => loginModel.Password)
            </div>
        }
    }
    @using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
    {
        <fieldset class="form-signin">
            <h2 class="form-signin-heading">
            @Umbraco.Field("#Login", altText: "Login", recursive: true)
            </h2>

            @Html.TextBoxFor(m => loginModel.Username, new { @class = "form-control", @placeholder = "Username" })
            @Html.PasswordFor(m => loginModel.Password, new { @class = "form-control", @placeholder = "Password" })
            <button class="btn btn-lg btn-primary btn-block">@Umbraco.Field("#Login", altText: "Login", recursive: true)</button>
        </fieldset>  
    }
</div>
