﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginModel = new LoginModel();
    
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()

@using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
{
    <div class="navbar-form navbar-right">        

		<div class="form-group">
        @Html.TextBoxFor(m => loginModel.Username, new{@class = "form-control", @placeholder = "Username"})
		</div>
		<div class="form-group">
        @Html.PasswordFor(m => loginModel.Password, new{@class = "form-control", @placeholder = "Password"})
		</div>
        <button class="btn btn-success">Login</button>
    </div>
}

    @{
        if (Html.ValidationSummary("loginModel", true) != null)
        {
            <div class="nav-error-login alert alert-danger alert-dismissible validation col-lg-12" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                @Html.ValidationSummary("loginModel", false)
                @Html.ValidationMessageFor(m => loginModel.Username)
                @Html.ValidationMessageFor(m => loginModel.Password)
            </div>
        }
    }