@inherits Umbraco.Web.Macros.PartialViewMacroPage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Controllers

@{
    @*
        You can specify a custom member type alias in the constructor, the default is 'Member'    
        for example, to use 'Custom Member' you'd use this syntax:
    
        var registerModel = Members.CreateRegistrationModel("Custom Member");
    *@
    
    var registerModel = Members.CreateRegistrationModel();
    
    @*
        Configurable here:           
    
        registerModel.RedirectUrl       - Optional. What path to redirect to if registration is successful. 
                                          By default the member will be redirected to the current umbraco page 
                                          unless this is specified.
    *@
    
    registerModel.UsernameIsEmail = false;
  
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
    
    var success = TempData["FormSuccess"] != null;
}

@*NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed*@
@Html.RenderJsHere()

@if (success) 
{ 
    @* This message will show if RedirectOnSucces is set to false (default) *@
    <p>Registration succeeeded.</p>
}
else
{
    <h2 class="col-lg-12">
        @CurrentPage.Title
    </h2>
    using (Html.BeginUmbracoForm<UmbRegisterController>("HandleRegisterMember"))
    {
        <fieldset class="col-lg-6">
            <legend>Personal Details</legend>
            @if (registerModel.MemberProperties != null)
            {
                @Html.LabelFor(m => registerModel.Name)
                @Html.TextBoxFor(m => registerModel.Name, new{@class="form-control"})
                @Html.ValidationMessageFor(m => registerModel.Name)
                <br />
                
                for (var i = 0; i < registerModel.MemberProperties.Count; i++)
                {

                    if (registerModel.MemberProperties[i].Alias != "avatar")
                    {
                        @Html.LabelFor(m => registerModel.MemberProperties[i].Value, registerModel.MemberProperties[i].Name, new {@class = "control-label"})
                        if (registerModel.MemberProperties[i].Alias == "address")
                        {
                            @Html.TextAreaFor(m => registerModel.MemberProperties[i].Value, new {@class = "form-control", @rows = "5"})
                        }
                        else
                        {
                            @Html.TextBoxFor(m => registerModel.MemberProperties[i].Value, new {@class = "form-control"})
                        }
                        @Html.HiddenFor(m => registerModel.MemberProperties[i].Alias)
                        <br />
                    }
                }
            }
        </fieldset>
        <fieldset class="col-lg-6">
            <legend>Login Details</legend>

            @Html.ValidationSummary("registerModel", true)
            
            @Html.LabelFor(m => registerModel.Username)
            @Html.TextBoxFor(m => registerModel.Username, new{@class="form-control"})
            @Html.ValidationMessageFor(m => registerModel.Username)
            <br/>

            @Html.LabelFor(m => registerModel.Email)
            @Html.TextBoxFor(m => registerModel.Email, new{@class="form-control"})
            @Html.ValidationMessageFor(m => registerModel.Email)
            <br />

            @Html.LabelFor(m => registerModel.Password)
            @Html.PasswordFor(m => registerModel.Password, new{@class="form-control"})
            @Html.ValidationMessageFor(m => registerModel.Password)
            <br />

            @Html.HiddenFor(m => registerModel.MemberTypeAlias)
            @Html.HiddenFor(m => registerModel.RedirectUrl)
            @Html.HiddenFor(m => registerModel.UsernameIsEmail)

            <button class="btn btn-primary">Register</button>
        </fieldset>
    }
}